vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Jun 2017 12:42:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|HTML/routinepage.html HTML/signuppage.html HTML/template.html routinepage.html HTML/receipt.html dietpage.html receipt.html signuppage.html HTML/index.html HTML/dietpage.html index.html template.html
vti_author:SR|ZAKSLAPTOP\\Enter
vti_modifiedby:SR|CRKAZPC\\Zak Catherall
vti_timecreated:TR|05 Apr 2016 08:57:18 -0000
vti_nexttolasttimemodified:TW|14 Jun 2017 12:42:22 -0000
vti_cacheddtm:TX|14 Jun 2017 12:42:22 -0000
vti_filesize:IR|3050
vti_cachedlinkinfo:VX|S|../Resources/filthoficarus.ttf S|../Resources/agencyfb.ttf S|../Resources/gadugi.ttf S|../Resources/bubbling.png
vti_cachedsvcrellinks:VX|FSUS|Resources/filthoficarus.ttf FSUS|Resources/agencyfb.ttf FSUS|Resources/gadugi.ttf FSUS|Resources/bubbling.png
