vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Jun 2017 12:40:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ZAKSLAPTOP\\Enter
vti_modifiedby:SR|CRKAZPC\\Zak Catherall
vti_timecreated:TR|05 Apr 2016 08:57:18 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|06 Apr 2016 13:30:26 -0000
vti_cacheddtm:TX|14 Jun 2017 12:40:22 -0000
vti_filesize:IR|5101
vti_cachedlinkinfo:VX|S|Resources/filthoficarus.ttf S|Resources/agencyfb.ttf S|Resources/gadugi.ttf S|Resources/bubbling.png
vti_cachedsvcrellinks:VX|NSUS|CSS/Resources/filthoficarus.ttf NSUS|CSS/Resources/agencyfb.ttf NSUS|CSS/Resources/gadugi.ttf NSUS|CSS/Resources/bubbling.png
